body {
    font-family:'Times New Roman', Times, serif;
    
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
}

.westudio {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;    
}
.wstudio {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.studio{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;  
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;  
}

.porta {
    color: #212121;
    position: absolute;
    width: 65px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    
}
.conta {
    position: absolute;
    width: 67px;
    height: 16px;
    left: 667px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    
}
.correo {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 800px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.tel {
    position: absolute;
    width: 118px;
    height: 16px;
    left: 1000px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.content {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;
    background: #2F303A;
}
.solucion {
position: absolute;
width: 696px;
height: 120px;
left: 448px;
top: 280px;
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    position: absolute;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.button__label {
    width: 197px;
    height: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;   
}
.center {
    background: #E5E5E5;
}
.atencion{
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}
.detalles{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 215px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;

}
.puntualidad {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.tiempo {
    position: absolute;
    width: 270px;
    height: 96px;
    left: 515px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.plan {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.desarrollo{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 815px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.tecno {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 775px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.procesos{
    position: absolute;
    width: 270px;
    height: 75px;
    left: 1115px;
    top: 801px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    
}



.uno{
    position: absolute;
    width: 373.16px;
    height: 323.7px;
    left: 215px;
    top: 1092.3px;
    background: url(.jpg);
    mix-blend-mode: normal;
}
.dos{
    position: absolute;
    width: 373.16px;
    height: 323.7px;
    left: 618.42px;
    top: 1092.3px;
    background: url(.jpg);
}
.tres{
    position: absolute;
    width: 373.16px;
    height: 323.7px;
    left: 1015px;
    top: 1092px;
    background: url(.jpg);
}
.equipo{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1510px;
    background: #F5F4FA;
}
.nuestro {
    position: absolute;
    width: 263px;
    height: 42px;
    left: 669px;
    top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; 
}
.tarjet_cuatro{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 208px;
    top: 180px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.cuatro {
    position: absolute;
    width: 270px;
    height: 260px;
    top: 9px;
    background: url(.jpg);
    border-radius: 0px;
}
.cubo {
    position: absolute;
    width: 97px;
    height: 19px;
    left: 85px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-weight: bold;

}
.disena{
    position: absolute;
    width: 181px;
    height: 19px;
    left: 45px;
    top: 310px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    white-space: nowrap;
    color: #757575; 
}   
.tarjet_cinco{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 520px;    
    top: 180px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.cinco{
    position: absolute;
    width: 270px;
    height: 270px;
    
    background: url(.jpg);
    border-radius: 0px;
}
.carla {
    position: absolute;
    width: 109px;
    height: 19px;
    left: 80px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-weight: bold;
}
.desarrolla{
    position: absolute;
    width: 183px;
    height: 19px;
    left: 40px;
    top: 310px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
   color: #757575;
}
.tarjet_seis{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 820px;
    top: 180px;
    background: #FFFFFF;
    /* material shadow v1 */
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.seis {
    position: absolute;
    width: 270px;
    height: 260px;
    
    background: url(.jpg);
    border-radius: 0px;
}
.dorado {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 85px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-weight: bold;
}

.mario {
    position: absolute;
    width: 103px;
    height: 19px;
    left: 906px;
    top: 487px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

color: #212121;
}
.marke {
    position: absolute;
    width: 76px;
    height: 19px;
    left: 100px;
    top: 310px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

}
.tarjet_siete{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1125px;
    top: 180px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}
.siete{
    position: absolute;
    width: 270px;
    height: 260px;
    background: url();
    border-radius: 0px;

}
.mija{
    position: absolute;
    width: 118px;
    height: 19px;
    left: 86px;
    top: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    font-weight: bold;
    
}
.iu{
    position: absolute;
    width: 97px;
    height: 19px;
    left: 98px;
    top: 310px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

    

}